/* :root {
  --color-bg: #c4e2ca;
  --color-bg-hover: #2614c5;
  --color-bg-body: hsl(248, 68%, 56%);
  --bs-card-border-radius: 10px;
  --color-bg-my: #eb2539;
} 

 body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-size: cover;
  background-repeat: no-repeat; 
  background-position: center; 
  background-color: var(--color-bg-body);
} 
.App {
  text-align: center;
  color: var(--color-bg-my);
} */
 body {
  background-image: url('./pages/img/darkSky.png');
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
 .nav-link{
  color: aquamarine ;
}

.navbar-toggler-icon {
  filter: invert(1);
}

 